.pi__button-container {
  font-family: DIN;
  width: 100%;
  padding: 0.5rem;
  resize: none;
  border: none;
  font-size: 1rem;
  line-height: 1.4;
  border-radius: 4px;
  width: calc(100% - 1rem);
}

.pi__button-container:hover {
  border: 2px dashed rgba(0,0,0,0.15);
  padding: calc(0.5rem - 2px);
}

.pi__button-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pi__button-input-wrapper {
  display: flex;
  flex-direction: column;
}

.pi__button-input-wrapper.flexrow {
  flex-direction: row;
  position: relative;
  margin-top: 0.5rem;
}

.pi__button-input {
  text-align: center;
  margin-bottom: 0.5rem;
  color: white;
  background-color: rgb(46, 154, 254);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-family: DIN-Condensed;
  font-size: 1rem;
  outline: none;
  border: none;
}

.pi__url-input {
  border: none;
  border-bottom: 1px solid;
  padding: 0.25rem;
  padding-top: 0;
  width: 200px;
  font-size: 1rem;
}

.pi__button-input::placeholder {
  color: white;
}

.pi__button-input-wrapper span {
  font-family: DIN-Condensed;
  font-size: 14px;
  margin-bottom: 0.25rem;
  position: absolute;
  left: -30px;
  bottom: -8px;
  opacity: 0.6;
}

.pi__button-container.focused {
  border: 2px dashed #cc4b00;
  outline: none;
  padding: calc(0.5rem - 2px);
}

.pi__button-container {
  display: flex;
  justify-content: center;
}

.pi__button-preview {
  padding: 0.25rem 1rem;
  text-decoration: none;
  border: 2px solid rgb(46, 154, 254);
  border-radius: 4px;
  background-color: rgb(46, 154, 254);
  color: white;
  font-family: DIN-Bold;
}